<!DOCTYPE html>  
<html lang="en">  
  <head>
    <meta charset="utf-8">
    <title>Monero Payphone</title>
    <link href="css/main.css" rel="stylesheet">
  </head>
  <body>
    <center>
      <h1>Monero Payphone</h1>
      <p>Your <%- type %> request has been recieved.</p>
      <p>Send 0.1 Monero to <b>4AopWpsMqjAANUPRBZsnE78yBUNxzViNs9r4CbigypZNcqP89bXZeCJYbWeQrW4D7T2CCSpyxWj8DAvPnnmVHewxTPHCgaN</b></p>
      <br/>
      <p> with a payment ID of <b><%- paymentId %></b></p>
    </center>
  </body>
</html>  